$primary-font: cursive;

//themes
.theme-projects{
	background-color: #e5fee5;
	.menu-bar{
		background-color: #98fb98;
	}
}

.theme-blogs{
	background-color: #d8e4fa;
	.menu-bar{
		background-color: cornflowerblue;
	}
}