$primary-font: cursive;

//themes
.theme-profile{
	background-color: #faedf1;
	.menu-bar{
		background-color: #ebb7c9;
	}
}
.theme-projects{
	background-color: #e5fee5;
	.menu-bar{
		background-color: #98fb98;
	}
}

.theme-skills{
	background-color: #fffbf4;
	.menu-bar{
		background-color: #ffefd5;
	}
}

.theme-blogs{
	background-color: #d8e4fa;
	.menu-bar{
		background-color: cornflowerblue;
	}
}

